<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>一起聊</title>
  <link rel="shortcut icon" href="{{static_url('images/favicon.ico')}}" >
  <link rel="stylesheet" href="{{static_url('css/style.css')}}" title="" type="text/css" />
  {%block style%}
  {%end%}
  <script type="text/javascript" src="{{static_url('js/jquery-2.1.1.js')}}" charset="utf-8"></script>
  {%block script%}
  {%end%}
</head>
<body>
  <header>
    {%block header%}
    {%end%}
  </header>
  <content>
  {%block content%}
  {%end%}
  </content>
  <footer>
    {%block footer%}
    {%end%}
  </footer>
</body>
</html>
